*{
  padding: 0px;
  margin-top: 0px;
  outline: none;
}
header{
  background: #692f0000;
  padding: 20px;
  width: 100%;
}
a{
  color: #FFFACD;
  text-decoration: none;
  user-select: none;
  padding: 0px 10px 50px 60px;
  font-family: 'Belwe Bold BT', cursive;
  float: none;
}

.a2{
  background: #501818;
  color: #c3c822;
  border: none;
  float: left;
  font-family: "Unbounded", cursive;
  front-size: 16px;
  padding: 5px 10px 5px 10px;
}
.h{
  color: #000000;
}
h1,h3,h2{
  font-family: 'Belwe Bold BT', cursive;
  float: right;
  color: #000000;
}
input{
  font-family: "Unbounded", cursive;
  padding: 5px 10px 5px 10px;
}
p{
  font-family: 'Spectral', serif;
  font-size: 24px;
}
h5{
  font-family: "Unbounded", cursive;
  front-size: 16px;
  padding: 5px 10px 5px 10px;
}
button{
  background: #5289BB;
  color: #000000;
  border:none;
}
tr{
  color: black;
  font-family: 'Cooper', cursive;
}
label{
  color: black;
}

